In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [65]:
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [66]:
df = pd.read_csv('Adult.csv')

In [67]:
df.head()

,age,workclass,demogweight,education,education-num,marital-status,occupation,relationship,race,Gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K.
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K.
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K.
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K.
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K.

In [68]:
df2 = np.unique(df[['workclass','education','marital-status']])

In [69]:
df2 = np.unique(df['education'])

df2

In [70]:
df2

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [71]:
df.replace(['11th', '12th'],'Higher secondary', inplace=True)

In [72]:
df.replace(['1st-4th', '5th-6th', '7th-8th','Preschool'],'Primary', inplace=True)

In [73]:
df.replace(['9th','10th'],'Secondary', inplace=True)

In [74]:
df.replace(['Bachelors','HS-grad','Some-college'],'Graduation', inplace=True)

In [75]:
df.replace(['Doctorate','Masters', 'Prof-school'],'PG', inplace=True)

In [76]:
df.replace(['Assoc-acdm', 'Assoc-voc'],'Assoc', inplace=True)

In [77]:
np.unique(df['education'])

array(['Assoc', 'Graduation', 'Higher secondary', 'PG', 'Primary',
       'Secondary'], dtype=object)

In [78]:
np.unique(df['marital-status'])

array(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
       'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
      dtype=object)

In [79]:
df.replace(['Divorced', 'Separated'],'Divorced', inplace=True)

In [80]:
df.replace(['Married-AF-spouse', 'Married-civ-spouse',
       'Married-spouse-absent'],'Married', inplace=True)

In [81]:
np.unique(df['marital-status'])

array(['Divorced', 'Married', 'Never-married', 'Widowed'], dtype=object)

In [82]:
np.unique(df['workclass'])

array(['?', 'Federal-gov', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay'],
      dtype=object)

In [83]:
df.replace(['Federal-gov', 'Local-gov','State-gov'],'Government', inplace=True)

In [84]:
df.replace(['Self-emp-inc', 'Self-emp-not-inc'],'Self-employed', inplace=True)

In [85]:
df.replace(['?','Without-pay','Never-worked'],'Unemployed', inplace=True)

In [86]:
np.unique(df['workclass'])

array(['Government', 'Private', 'Self-employed', 'Unemployed'],
      dtype=object)

In [87]:
lb_make = LabelEncoder()
df["marital-statusenc"] = lb_make.fit_transform(df["marital-status"])
df[["marital-status", "marital-statusenc"]].tail()

      marital-status  marital-statusenc
24995        Married                  1
24996  Never-married                  2
24997       Divorced                  0
24998  Never-married                  2
24999        Married                  1

In [88]:
lb_make = LabelEncoder()
df["educationenc"] = lb_make.fit_transform(df["education"])
ed1=df[["education", "educationenc"]]

In [94]:
lb_make = LabelEncoder()
df["Genderenc"] = lb_make.fit_transform(df["Gender"])
df[["Gender", "Genderenc"]].head(1)

  Gender  Genderenc
0   Male          1

In [90]:
lb_make = LabelEncoder()
df["workenc"] = lb_make.fit_transform(df["workclass"])
df[["workclass", "workenc"]].tail(1)

      workclass  workenc
24999   Private        1

In [91]:
X=df[['age','workenc','educationenc','marital-statusenc','Genderenc','capital-gain','capital-loss']]
Y = df['income']

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=.3, random_state=100)

In [92]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                                  max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [93]:
y_pred = clf_gini.predict(X_test)
print ("Accuracy is ", accuracy_score(Y_test,y_pred)*100)

Accuracy is  79.89333333333335

In [97]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [100]:
kfold = model_selection.KFold(n_splits=10, random_state=101)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=101)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.83288

In [103]:
model.fit(X_train, Y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=100, n_jobs=1, oob_score=False,
         random_state=101, verbose=0, warm_start=False)

In [104]:
y_pred = model.predict(X_test)
print ("Accuracy is ", accuracy_score(Y_test,y_pred)*100)

Accuracy is  82.88

In [107]:
kfold = model_selection.KFold(n_splits=10, random_state=101)
model1 = RandomForestClassifier(n_estimators=100, max_features=5)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.833

In [108]:
model1.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [110]:
y_pred = model1.predict(X_test)
print ("Accuracy is ", accuracy_score(Y_test,y_pred)*100)

Accuracy is  82.88

In [112]:
from sklearn.ensemble import AdaBoostClassifier

In [114]:
seed = 7
num_trees = 30
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model2 = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.83632

In [115]:
model2.fit(X_train, Y_train)
y_pred = model2.predict(X_test)
print ("Accuracy is ", accuracy_score(Y_test,y_pred)*100)

Accuracy is  83.44

In [116]:
from sklearn.ensemble import GradientBoostingClassifier

In [118]:
seed = 7
num_trees = 100
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model3 = GradientBoostingClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

0.8433599999999999

In [119]:
model3.fit(X_train, Y_train)
y_pred = model3.predict(X_test)
print ("Accuracy is ", accuracy_score(Y_test,y_pred)*100)

Accuracy is  84.25333333333333